.banner-interno__fondo
  background-image: url("../assets/curso/images/header/interno.svg") !important
  background-repeat: no-repeat 
  
.cs
  overflow-y: hidden

.mg-top-1
  margin-top: -15px

.mg-top-2
  margin-top: -50px

.m-left
  left: 50% !important 

.container-top
  border-radius: 0px 0px 0 0
.container-bottom
  border-radius: 0 0 0px 0px  

.fondo
  background-image: url('../assets/curso/images/tema1/fondo_intro.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-1
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-2
  background-image: url('../assets/curso/images/tema2/back_1.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-3
  background-image: url('../assets/curso/images/tema2/back_2.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-4
  background-image: url('../assets/curso/images/tema2/back_3.svg')
  background-size: cover
  background-repeat: no-repeat

.color-custom-2
	background-color:#FFFFFF
	&::before
		background-color:#361D90

.color-custom-3
	background-color: #E7E8EE
	&::before
		background-color:#361D90

.color-custom-4
	background-color:#FFF5FE
	&::before
		background-color:#FFD947

.color-custom-5
	background-color: #FFF6D4

.color-custom-6
	background-color: #9D39E3
	&::before
		background-color: #FFF

.color-custom-7
	background-color: #9D39E3
	&::before
		background-color: #FFF5FE

.color-custom-8
  background-color: #CCC6E2

.color-custom-9
  background-color:  #ECE4FE

.color-custom-10
	background-color:#9D39E3
	&::before
		background-color:#361D90

.boton.color-acento-contenido, .color-acento-contenido.boton--sm, .color-acento-contenido.boton--sm 
  background-color: #F1CC4B
  width: 105px

.text-white *, .text-white span, .text-white i, .texto-blanco *, .texto-blanco span, .texto-blanco i 
  color: #000 !important

.boton.color-acento-contenido:active, .color-acento-contenido.boton--sm:active, .boton.color-acento-contenido:focus, .color-acento-contenido.boton--sm:focus, .boton.color-acento-contenido:hover, .color-acento-contenido.boton--sm:hover 
  background-color: #FFD947

.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
    border-left-color: currentcolor
  border-left-color: #361D90
  background-color: #e8e8e8

.custom_box_left     
  position: relative 
  padding: 2.5rem 1.5rem 
  background-color: #FBE2FF
  margin-right: 30px
  border-bottom-right-radius: 15px
  border-top-right-radius: 15px
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -65%
    width: 65%
    height: 100%
    background-color: #FBE2FF
    border-bottom-left-radius: 15px
    border-top-left-radius: 15px
    z-index: 0

@media screen and ( max-width: 980px )
  .custom_box_left
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FBE2FF
    p
      position: relative 
    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      width: 100%
      height: 235px
      background-color: #FBE2FF
      z-index: 0
@media screen and ( max-width: 392px )
  .custom_box_left
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FBE2FF
    p
      position: relative 
    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      width: 100%
      height: 215px
      background-color: #FBE2FF
      z-index: 0


.custom_box_left-2     
  position: relative 
  padding: 2.5rem 1.5rem 
  background-color: #FFD947
  margin-right: 70px
  margin-left: 50px
  left: 100px
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -65%
    width: 65%
    height: 100%
    background-color: #FFD947
    z-index: 0

@media screen and ( max-width: 980px )
  .custom_box_left-2
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FFD947
    width: 80%
      position: relative 
    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      width: 100%
      height: 215px
      background-color: #FFD947
      z-index: 0

@media screen and ( max-width: 1100px )
  .custom_box_left-2
    position: relative 
    padding: 0.8rem 1.5rem 
    background-color: #FFD947
    width: 130%
    margin-left: -170px
    top: 20px
 
    &:before 
      content: ""
      position: absolute
      left: 0
      width: 50%
      height: 235px
      margin-left: -250px
      background-color: #FFD947
      z-index: 0

@media screen and ( max-width: 397px )
  .custom_box_left-2
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FFD947
    width: 115%
    margin-left: -131px

    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      margin-left: 0px
      width: 100%
      height: 235px
      background-color: #FFD947
      z-index: 0


.custom_box_left-3
  position: relative 
  padding: 2.5rem 1.5rem 
  background-color: #FBE2FF
  margin-right: 70px
  margin-left: -190px
  left: 100px
  width: 110%
  border-bottom-right-radius: 30px
  border-top-right-radius: 30px
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -65%
    width: 65%
    height: 100%
    background-color: #FBE2FF
    border-top-left-radius: 30px
    border-bottom-left-radius: 30px
    z-index: 0

@media screen and ( max-width: 980px )
  .custom_box_left-3
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FBE2FF
    width: 80%
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
      position: relative 
    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      width: 100%
      height: 215px
      background-color: #FBE2FF
      border-top-left-radius: 30px
      border-top-right-radius: 30px
      z-index: 0

@media screen and ( max-width: 397px )
  .custom_box_left-3
    position: relative 
    padding: 2.5rem 1.5rem 
    background-color: #FBE2FF
    width: 100%
    margin-left: -100px
      position: relative 
    &:before 
      content: ""
      position: absolute
      top: -215px
      left: 0
      width: 100%
      height: 235px
      background-color: #FBE2FF
      z-index: 0

.onTop
  position: relative
  z-index: 10
  margin-bottom: 60px
  left: 10px
  top: -30px
  @media screen and ( max-width: 397px )
    margin-left: 5px
    top: 100px

.onTop-1
  position: relative
  z-index: 10
  margin-bottom: 60px
  left: 110px
  top: 2px
  @media screen and ( max-width: 397px )
    margin-left: -195px
    top: 50px
    margin-bottom: -60px
  @media screen and ( max-width: 1100px )
    position: relative
    margin-left: -120px
    margin-right: 120px
    top: -3px
 
.col-md-auto 
  flex: 0 0 auto
  width: 155px


.bg_grad-01
  position: relative
  .row, p, .cajon, .col, .tarjeta, SlyderA
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 120%
    height: 135%
    background-image:  url('../assets/curso/images/tema3/back_4.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-inline-start: -48px !important
    margin-inline-end: -49px !important
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px

.bg_grad-02
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 400px
  @media (max-width: 397px)
    margin-left: -30px
    width: 410px

.bg_grad-02-1
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 400px
  @media (max-width: 397px)
    margin-top: -10px
    background-repeat: no-repeat
    background-size: cover
    width: 400px

.bg_grad-03
  position: relative
  .row, p, .cajon, .col, .tarjeta, SlyderA
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 120%
    height: 135%
    background-image:  url('../assets/curso/images/tema5/back_1.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-inline-start: -48px !important
    margin-inline-end: -49px !important
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px

.bg_grad-04
  position: relative
  .row, p, .cajon, .col, .tarjeta, SlyderA
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 120%
    height: 135%
    background-image:  url('../assets/curso/images/tema5/back_2.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-inline-start: -48px !important
    margin-inline-end: -49px !important
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px

.bg_grad-05
  position: relative
  .row, p, .cajon, .col, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 10px
    left: 0
    width: 120%
    height: 108.5%
    background-image:  url('../assets/curso/images/tema6/back_1.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-inline-start: -48px !important
    margin-inline-end: -49px !important
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px



.bg_grad-06
  position: relative
  .row, p, .cajon, .col, .tarjeta, SlyderA
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 120%
    height: 250%
    background-image:  url('../assets/curso/images/tema6/back_2.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-inline-start: -48px !important
    margin-inline-end: -49px !important
    @media screen and ( max-width: 420px )
      margin: 0 -23px
      width: calc(100% + 46px)
      top: 20px


.bg_grad-07
  background-color:#F1DCFF
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 390px
    margin-left: -20px

.slyder-a__bullets__item--active
  background-color: #E33FFD !important

.slyder-a__bullets__item
  background-color: #E8A8F2

.slyder-a__bullets 
  bottom: 15px !important
  @media (max-width: 992px)
    margin-bottom: -20px !important
   

.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(390%) rotate(-90deg)
  @media (max-width: 992px)
    right: 2px
    margin-top: 200px

.slyder-a__tipo-a .slyder-a__btn--atrs 
  transform: translateY(390%) rotate(90deg)
  left: -7px
  @media (max-width: 992px)
    left: 2px
    margin-top: 200px
    
.bloque-texto-c i 
  font-size: 2.5em
  color: #FFD947
.bloque-texto-c::after 
  content: ''
  display: block
  width: 30px
  height: 30px
  background-color: #FFD947
  position: relative
  left: calc(100% - 30px)


.linea-tiempo-b__icon img 
  position: absolute
  width: 45%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.linea-tiempo-b.color-secundario .linea-tiempo-b__icon 
  background-color: #9D39E3
  width: 67%
  margin-left: 30px

.linea-tiempo-b__icon 
  padding-top: 70%
  border-radius: 50%
  position: relative



.m-right
  right: -40% !important

.sombra
  box-shadow: 6px 6px 12px 3px rgba(0, 0, 255, .1)

.back-tab
  background-color: #F0E0F5

.tabs-a__tab
  background-color: #E8E8E8 

.boton.color-acento-contenido, .color-acento-contenido.boton--sm, .color-acento-contenido.boton--sm, .color-acento-contenido.boton--sm 
  background-color: #F1CC4B
  width: 121px

.cajon
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .1)

.linea-tiempo-b.color-secundario .linea-tiempo-b__icon 
  background-color: #9D39E3

.linea-tiempo-b__icon img 
  position: absolute
  width: 60%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.justify-center
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: center
  flex-direction: row

.slyder-a__tipo-a .slyder-a__btn--atrs 
  @media screen and (max-width: $bp-max-xs)
    left: 2px
    margin-top: 155px
.slyder-a__tipo-a .slyder-a__btn--sigt 
  @media screen and (max-width: $bp-max-xs)
    right: 2px
    margin-top: 155px

.slyder-a.tema1
  @media screen and (max-width: $bp-max-xs)
    right: 0px
    margin-top: 5px
    margin-left: 0px
    width: 360px



